<nav class="nav">
  <div class="nav-left">
    <!-- <div class="link-group">
      <div class="link-group-row">
        <a href="https://mirrors.ustc.edu.cn/" class="bg-microsoft-red">
          <i class="fab fa-linux fa-5x" aria-hidden="true"></i>
          <span>开源镜像站</span>
        </a>
        <a href="https://101.lug.ustc.edu.cn/" class="bg-microsoft-green">
          <i class="fad fa-graduation-cap fa-5x" aria-hidden="true"></i>
          <span>Linux 101</span>
        </a>
      </div>
      <div class="link-group-row">
        <a href="https://git.lug.ustc.edu.cn/" class="bg-microsoft-blue">
          <i class="fab fa-gitlab fa-5x" aria-hidden="true"></i>
          <span>GitLab</span>
        </a>
        <a href="/wiki/806/services" class="bg-microsoft-yellow">
          <i class="fas fa-chevron-circle-right fa-5x" aria-hidden="true"></i>
          <span>更多服务</span>
        </a>
      </div>
    </div> -->
  </div>
  <div class="nav-right">
    <div class="description">
      <p>北京科技大学「勤敏轩」学生创新实验室是北京科技大学计算机与通信工程学院下属的本科生实验室，位于机电信息楼 806 室，简称「806 实验室」。</p>
      <br/>
      <p>806 实验室全部成员皆为在校本科生，主要关注于各类高含金量的计算机专业学科竞赛，以及创新创业竞赛。</p>
    </div>
    <!-- <div class="link-group">
      <div class="link-group-row">
        <a href="/wiki/806/events/calendar" class="fg-microsoft-red">
          <i class="fad fa-calendar-alt fa-5x" aria-hidden="true"></i>
          <span>活动日历</span>
        </a>
        <a href="/wiki/806/contact" class="fg-microsoft-green">
          <i class="fad fa-comments fa-5x" aria-hidden="true"></i>
          <span>联系我们</span>
        </a>
      </div>
      <div class="link-group-row">
        <a href="/wiki/806/finance/donate" class="fg-microsoft-blue">
          <i class="fad fa-thumbs-up fa-5x" aria-hidden="true"></i>
          <span>捐赠我们</span>
        </a>
        <a href="/wiki/806/links" class="fg-microsoft-yellow">
          <i class="fad fa-link fa-5x" aria-hidden="true"></i>
          <span>友情链接</span>
        </a>
      </div> -->
  </div>
</nav>