<div class="footer-row">
  <div class="footer-block footer__about">
    <p>北京科技大学「勤敏轩」学生创新实验室是<a href="https://www.ustb.edu.cn">北京科技大学</a><a href="https://scce.ustb.edu.cn/">计算机与通信工程学院</a>下属的本科生实验室，位于机电信息楼 806 室，简称「806 实验室」。</p>
    <br/>
    <p>本网站基于「<a href="https://lug.ustc.edu.cn">中科大 LUG 网站</a>」修改而来，以 <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0 许可协议</a>开源。</p>
  </div>

  <div class="footer-block footer__extras">
    <div class="footer__contact">
      <ul>
        <li>
          <a href="/wiki/intro/"><i class="fad fa-fw fa-address-card"></i> 关于我们</a>
        </li>
        <li>
          <a href="/wiki/806/contact/"><i class="fas fa-fw fa-phone-alt"></i> 联系我们</a>
        </li>
        <li>
          <a href="/wiki/806/contribute/"><i class="fad fa-fw fa-users-medical"></i> 加入我们</a>
        </li>
        <li>
          <a href="/feed/"><i class="fad fa-fw fa-rss" style="--fa-secondary-opacity: 0.6;"></i> RSS 订阅</a>
        </li>
        <li>
          <a href="https://github.com/ustb-806/ustb-806.github.io"><i class="fab fa-fw fa-github"></i> 本站仓库</a>
        </li>
      </ul>
    </div>

    <div class="footer__logo">
      <div class="footer__logo-image">
        <img src="http://140.143.188.19:9000/website/static/806-logo-white-with-name.svg" style="width: 7rem; height: auto"/>
      </div>
      <div class="footer__logo-text">
        <!-- a href="http://www.beian.miit.gov.cn" target="_blank">皖 ICP 备 05002528 号</a -->
      </div>
    </div>
  </div>
</div>
