{% if page.last_modified_at %}
  <p class="page__date">
    <strong><i class="fad fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ page.last_modified_at | date: "%Y 年 %-m 月 %-d 日" }}</time>
    <strong>
      <i class="fas fa-fw fa-eye"></i>
      <span id="busuanzi_container_page_pv">阅读量: <span id="busuanzi_value_page_pv"></span></span>
    </strong>
  </p>
{% elsif page.date %}
  <p class="page__date">
    <strong><i class="fad fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y 年 %-m 月 %-d 日" }}</time>
    <strong>
      <i class="fas fa-fw fa-eye"></i>
      <span id="busuanzi_container_page_pv">阅读量: <span id="busuanzi_value_page_pv"></span></span>
    </strong>
  </p>
{% endif %}
